@page "/"
@using System.Timers
@using Timer = System.Timers.Timer
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Добро пожаловать в интернет магазин, HelloWorld</h1>


<h2>Время @timeShow </h2>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    private PeriodicTimer _timer;
    string timeShow = DateTime.Now.ToString();
    protected override async void OnInitialized()
    {

       

        _timer = new PeriodicTimer(TimeSpan.FromSeconds(1));
       // _timer.Interval = 1000;
        //_timer.Elapsed += OnTimer;
        //_timer.Enabled = true;
        base.OnInitialized();

    }

    private void OnTimer(object? sender, ElapsedEventArgs e)
    {
        timeShow = DateTime.Now.ToString("h:mm:ss");
        InvokeAsync(()=> StateHasChanged());
    }

    public void Dispose()
    {
        _timer.Dispose();
    }
}
