@page "/"

<PageTitle>Index</PageTitle>

<h1>Добро пожаловать в интернет магазин, HelloWorld</h1>


<h2>Время @DateTime.Now.ToString("hh:mm:ss") </h2>

<SurveyPrompt Title="How is Blazor working for you?"/>