@page "/ProductInfo/{ProductId:int}"
@using HttpModels

@inject IClock _clock
@inject ICatalog _catalog
@inject ICart _cart

<h3>Product</h3>
@* HTML отображения карточки товара *@

@code {
    [Parameter]
    public int ProductId { get; set; }
 
    public Product Product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Product = _catalog.GetProductById(ProductId);
    }
    
    public void AddProductToCart()
    {
        _cart.AddAsync(Product);
        Count = _cart.Products.First(p => p.Key.Id == ProductId).Value;
    }
    public void RemoveProductFromCart()
    {
        _cart.RemoveAsync(Product);
        Count = _cart.Products.FirstOrDefault(p => p.Key.Id == ProductId).Value;
    }

    int Count { get; set; } = 0;
}

<div><img src="@Product.Image" width="300" height="300"/></div>
<br><div>@Product.Name :: @Product.Price</div>
<br>
<br/> <input type="submit" value="+" @onclick="AddProductToCart">
<div>Кол-во: @Count</div>
<input type="submit" value="-" @onclick="RemoveProductFromCart">