@page "/AccountInfo"
@using HttpApiClient
@using HttpModels

@inject ApiClient _apiClient
<h3>Account_Info</h3>

@code {

    private Account? _account;
    private string? message;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            _account = await _apiClient.GetAccount();
        }
        catch(Exception ex)
        {
            message = ex.Message;
        }

        StateHasChanged();
    }
    
}

@if (_account != null)
{
    <tr><td>Login:</td><td>@_account?.Login</td></tr>
    <tr><td>Password:</td><td>@_account?.HashPassword</td></tr>
    <tr><td>Email:</td><td> @_account?.Email</td></tr>
}
else
{
    <div>@message</div>
}