@page "/Cart"
@using HttpApiClient
@using HttpModels

<h3>Cart</h3>
@inject ApiClient _apiClient

@code
{
    private void AddProductToCart(int productId)
    {
        // var product = _cart.Products.First(p => p.Key.Id == productId);
        // _cart.AddAsync(product.Key);
    }
    private void RemoveProductFromCart(int productId)
    {
        // var product = _cart.Products.First(p => p.Key.Id == productId);
        // _cart.RemoveAsync(product.Key);
    }

    private void ClearCart()
    {
        _apiClient.AddCart(new HttpModels.Cart() { AccountId = 1});
    }
}

<button class="btn btn-primary" @onclick="ClearCart">Clear cart</button><br>

