@page "/ProductInfo/{ProductId:int}"
@using HttpModels

@inject IClock _clock
@inject ICatalog _catalog
@inject ICart _cart
@inject HttpClient Http

<h3>Product</h3>
@* HTML отображения карточки товара *@

@code {
    [Parameter]
    public int ProductId { get; set; }
 
    public Product Product { get; set; }

    private List<Product> _products;
    private List<Category> _categories;

    protected override async Task OnInitializedAsync()
    {
        var products= await Http.GetFromJsonAsync<Product[]>("https://localhost:7214/catalog/products");
        _products = products.ToList();

        Product = _products.First(i => i.Id == ProductId);
    }
    
    public void AddProductToCart()
    {
        _cart.AddAsync(Product);
        Count = _cart.Products.First(p => p.Key.Id == ProductId).Value;
    }
    public void RemoveProductFromCart()
    {
        _cart.RemoveAsync(Product);
        Count = _cart.Products.FirstOrDefault(p => p.Key.Id == ProductId).Value;
    }

    int Count { get; set; } = 0;
}

<div><img src="@Product.Image" width="300" height="300"/></div>
<br><div>@Product.Name :: @Product.Price</div>
<br>
<br/> <input type="submit" value="+" @onclick="AddProductToCart">
<div>Кол-во: @Count</div>
<input type="submit" value="-" @onclick="RemoveProductFromCart" >
