@page "/ProductInfo/{ProductId:int}"
@using HttpModels
@using HttpApiClient

@inject IClock _clock
@inject ApiClient _apiClient

<h3>Product</h3>
@* HTML отображения карточки товара *@

@code {
    [Parameter]
    public int ProductId { get; set; }

    public Product? Product { get; set; }

    private List<Product> _products;
    private List<Category> _categories;

    private HttpModels.Cart? _cart;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var products= await _apiClient.GetProducts();
            _products = products.ToList();
            Product = _products.First(i => i.Id == ProductId);
            _cart = await _apiClient.GetCart();
            var item = _cart.CartItems.FirstOrDefault(it => it.ProductId ==  Product?.Id);
            if (item != null)
                Count = item.Count;
            else
                Count = 0;
        }
        catch
        {
            
        }

    }

    public async void AddProductToCart()
    {
        _cart = await _apiClient.GetCart();
        var item = _cart.CartItems.FirstOrDefault(it => it.ProductId ==  Product?.Id);
        if (item == null)
        {
            item = new CartItem() { ProductId = Product.Id, Count = 1, CartId = _cart.Id };
            await _apiClient.AddCartItem(item);
        }
        else
        {
            item.Count++;
            await _apiClient.UpdateCartItem(item);
                       
        }
        Count = item.Count;
        StateHasChanged();   
    }

    public async void RemoveProductFromCart()
    {
        _cart = await _apiClient.GetCart();
        var item = _cart.CartItems.FirstOrDefault(it => it.ProductId ==  Product?.Id);
        if (item != null)
        {
            item.Count--;
            await _apiClient.UpdateCartItem(item);
            if (item.Count == 0)
            await _apiClient.RemoveCartItem(item);

            Count = item.Count;              
        }
        
        StateHasChanged();   
    }

    int Count { get; set; } = 0;
}
@if (_cart != null)
{

    <div><img src="@Product?.Image" width="300" height="300"/></div>
    <br><div>@Product?.Name :: @Product?.Price</div>

    @if (_cart != null)
    {
        <br>
        <br/> <input type="submit" value="+" @onclick="AddProductToCart">
        <div>Кол-во: @Count</div>
        <input type="submit" value="-" @onclick="RemoveProductFromCart" >
    }
}
else
{
<div>No auth</div>
}
