@page "/Registration"
@using HttpModels
@using HttpApiClient
@inject ApiClient _apiClient

<h3>Registration</h3>

@code {
    private string email = "";
    private string password = "";
    private string login = "";

    private string login2;
    private string password2;

    private async void AccountRegistration()
    {
        var account = new AccountRequestModel(login, password, email);

        await _apiClient.Registration(account);
    }

    private string searchEmail = "";
    private Account? _account;
    private AccountResponseModel? _account2;

    private async void GetAccountByEmail()
    {
        try
        {
            _account = await _apiClient.GetAccountByEmail(searchEmail);
        }
        catch
        {
            _account = null;
        }
        finally
        {
            StateHasChanged();
        }
    } 
    private async void Autorization()
    {
        var account = new AccountRequestModel(login2, password2, login2);
        _account2 = await _apiClient.Autorization(account);
        StateHasChanged();
    }
}

<Form onsubmit="@AccountRegistration">

    <table>
        <tr><td>Login:</td><td><input type="text" @bind="login" /></td></tr>
        <tr><td>Password:</td><td> <input type="text" @bind="password" /></td></tr>
        <tr><td>Email:</td><td> <input type="text" @bind="email" /></td></tr>

        <tr><td><input type="submit" value="SIGN UP"/></td></tr>
    </table>

</Form>

<h3>Autorization</h3>
<Form onsubmit="@Autorization">
    <table>
        <tr><td>Login:</td><td><input type="text" @bind="login2" /></td></tr>
        <tr><td>Password:</td><td> <input type="text" @bind="password2" /></td></tr>
        <tr><td><input type="submit" value="SIGN IN"/></td></tr>
    </table>
</Form>

@if (_account2 != null)
{
    <div>Success</div>
}
else
{
    <div>Fail!</div> 
}
<h3>Search account by Email</h3>

<Form onsubmit="@GetAccountByEmail">

    <table>
        <tr><td>Email:</td><td> <input type="text" @bind="searchEmail" /></td></tr>
        <tr><td><input type="submit" value="Find account by e-mail"/></td></tr>
    </table>

</Form>
@if (_account != null)
{
    <tr><td>Login:</td><td>@_account?.Login</td></tr>
    <tr><td>Password:</td><td>@_account?.HashPassword</td></tr>
    <tr><td>Email:</td><td> @_account?.Email</td></tr>
}