@model WebApplication3.SmtpCredentials

@{
    ViewBag.Title = "SetupCredentials";
    Layout = "_Layout";
}

<h2>Setup Credentials</h2>

<form method="post">
    Host:<input type="text" name="host" value="@Model.Host" required />
    <br/>
    UserName:
    <input type="text" name="userName" value="@Model.UserName" required />
    <br/>
    Password:
    <input type="text" name="password" value="@Model.Password" required />
    <br/>
    Port:
    <input type="text" name="port" value="@Model.Port" required />
    <br/>
    <input type="submit" name="submit" value="Create" />
    <br/>
</form>
